{% extends 'base_admin.html.twig' %}

{% block content %}
    <h1>Tags list</h1>
    <div class="card" style="margin: 20px auto; padding:20px; max-width: 800px">
        <table id="admin_table" class="striped highlight">
            <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr>
                    <td><a href="{{ path('admin_tag_show', { 'id': tag.id }) }}">{{ tag.id }}</a></td>
                    <td>{{ tag.label }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('admin_tag_show', { 'id': tag.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('admin_tag_edit', { 'id': tag.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('admin_tag_new') }}">Create a new tag</a>
            </li>
        </ul>
    </div>
{% endblock %}
