{% extends 'base.html.twig' %}
{% block content %}
    <h2>Ajouter un son</h2>
    <div class="row">
        {{ form_start(form) }}
        {#{{ form_widget(form) }}#}
        <div class="col s12">
            {{ form_label(form.file) }}
            {{ form_widget(form.file) }}
        </div>
        <div class="input-field col s12">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="col s12">
            {{ form_label(form.save) }}
            {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
    <script>
        $('.material-select').material_select();
    </script>
{% endblock %}