{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>Nombre de photos postées : {{ user.photos| length }}</p>
    <p>Nombre d'objectifs : Future valeur</p>
    <p>Nombre d'appareils ajoutés : {{ user.appareils| length }}</p>
</div>
