{% extends 'base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col s6 offset-s3 center-align">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
            <a href="{{ path('fos_user_profile_show') }}">Mon profil</a>
        </div>
    </div>
    <div class="row">
        {% for photo in photos %}
            <div class="col m6 s12 l4">
                <div class="card hoverable {% if file_loader == 'BLOB' %}{% if photo.blobFile is not null %}blob{% else %}blob-alternate{% endif %}{% endif %}">
                    <div class="card-image waves-effect waves-block waves-light">
                        {% if file_loader == 'BLOB' and photo.blobFile is not null %}
                            <img class="activator" src="data:image/png;base64,{{ photo.getBlobFileRaw() }}">
                        {% else %}
                            <img class="activator" src="{{ asset('/uploads/Photos/'~photo.fichier) }}">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ photo.titre }}<i
                                    class="material-icons right">more_vert</i></span>
                        <p>
                            <a href="#modalPhoto" data-image="{{ photo.fichier }}" class="button-a"><i
                                        class="material-icons">aspect_ratio</i></a>
                            <a href="{{ path('one_photo',{ 'id': photo.id }) }}"><i class="material-icons">list</i></a>
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i
                                    class="material-icons right">close</i></span>
                        <div class="tags">
                            <p>Catégories</p>
                            <div class="chip hoverable"><a href="#">Nature</a></div>
                            <div class="chip hoverable"><a href="#">Ville</a></div>
                            <div class="chip hoverable"><a href="#">Portrait</a></div>
                            <div class="chip hoverable"><a href="#">Paysage</a></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="modalPhoto" class="test modal bottom-sheet">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <a class="btn-floating btn-large red modal-action modal-close" data-activates="slide-out">
                        <i class="material-icons fermer">close</i>
                    </a>
                    <div class="col s12 m12 l12">
                        <img id="photoFull" src="{{ asset('/images/Interface/side-nav-bg.jpg') }}" alt="test">
                    </div>
                </div>
                {#<div class="row">#}
                    {#<div class="description col l6 m6 s12">{{ photo.descption }}</div>#}
                    {#<div>#}
                        {#<p>{{ photo.auteur }}</p>#}
                        {#<p>{{ photo.date|date("d/m/y") }}</p>#}
                        {#<p>{{ photo. }}</p>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.button-a').click(function () {
            var src = "{{ asset('/uploads/Photos/') }}" + $(this).attr("data-image");
            console.log(src);
            $("#photoFull").attr("src", src);
        });

        $('.modal').modal();
    </script>
{% endblock %}