{% extends 'base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col s6 offset-s3 center-align">
            <form class="rapid-form" method="GET" action="{{ path('home') }}">
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
            {% if app.user is not null %}
                {#<a href="{{ path('fos_user_profile_show') }}">Mon profil</a><br>#}
                <a href="#" id="modalFormLink" class="add btn-floating btn-large waves-effect waves-light red darken-3">
                    <i class="material-icons ">add</i>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if tag is defined %}
            <p>
                Résultat(s) de recherche pour : {{ tag }}
            </p>
        {% endif %}
        {% for photo in photos %}
            <div class="col m6 s12 l4">
                <div class="card hoverable {% if file_loader == 'BLOB' %}{% if photo.blobFile is not null %}blob{% else %}blob-alternate{% endif %}{% endif %}">
                    <div class="card-image waves-effect waves-block waves-light">
                        {% if file_loader == 'BLOB' and photo.blobFile is not null %}
                            <img class="activator" src="data:image/png;base64,{{ photo.getBlobFileRaw() }}">
                        {% else %}
                            <img class="activator" src="{{ asset('/uploads/Photos/'~photo.fichier) }}">
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ photo.titre }}<br>
                            prise par : <strong>{{ photo.auteur.username }}</strong><i
                                    class="material-icons right">more_vert</i></span>
                        <p>
                            <a href="#modalPhoto" data-image="{{ photo.fichier }}" data-description="{{ photo.description|slice(0,70)~"..." }}" data-auteur="{{ photo.auteur.username }}" data-titre="{{ photo.titre }}" class="button-a"><i
                                        class="material-icons">aspect_ratio</i></a>
                            <a href="{{ path('one_photo',{ 'id': photo.id }) }}"><i class="material-icons">list</i></a>
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"><i
                                    class="material-icons right">close</i></span>
                        <div class="tags">
                            <p>Catégories</p>
                            {% for tag in photo.tags %}
                                <div class="chip hoverable"><a href="{{ path('tag_photos',{ 'tag': tag.label }) }}">{{ tag.label }}</a></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="modalPhoto" class="test modal bottom-sheet">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <a class="btn-floating btn-large red darken-3 modal-action modal-close" data-activates="slide-out">
                        <i class="material-icons fermer">close</i>
                    </a>
                    <div class="col s12 m12 l12">
                        <img id="photoFull" class="responsive-img"
                             src="{{ asset('/images/Interface/side-nav-bg.jpg') }}" alt="test">
                    </div>
                </div>
                <div class="row">
                    <div>
                        <h3 id="titre" class="s12 m12 l6"></h3>
                        <p id="auteur" class="col s12 m12 l6"></p>
                        <p id="desc" class="col s12 m12 l12"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalForm" class="test modal">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <a class="btn-floating btn-large red darken-3 modal-action modal-close fermer" data-activates="slide-out">
                        <i class="material-icons fermer">close</i>
                    </a>
                </div>
                <div class="row-content">
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.button-a').click(function () {
                var src = "{{ asset('/uploads/Photos/') }}" + $(this).attr("data-image");
                var desc = "Desctiption : <br/>" + $(this).attr("data-description");
                var auteur = "Prise par : <strong>" + $(this).attr("data-auteur") + "</strong>";
                var titre = $(this).attr("data-titre");
                console.log(src);
                console.log(titre);
                $("#photoFull").attr("src", src);
                $("#desc").html(desc);
                $("#titre").html(titre);
                $("#auteur").html(auteur);
            });

            $('#modalPhoto').modal();
            $('#modalForm').modal({
                    dismissible: true,
                    opacity: .5,
                    inDuration: 300,
                    outDuration: 200,
                    startingTop: '5%',
                    endingTop: '5%',
                    ready: function (modal, trigger) { // Callback open
                        console.log(modal, trigger);
                    },
                    complete: function () {
                    } // Callback close
                }
            );
            $('#modalFormLink').click(function (evt) {
                evt.preventDefault();
                $('.loading-off').addClass('loading');
                $.get("{{ path('ajax_photo_create') }}", function (data) {
                    $('#modalForm .row-content').html(data);
                    $('.loading-off').removeClass('loading');
                    $('#modalForm').modal('open');
                });
            });
            $('body').on("submit", ".form", function(event) {
                event.preventDefault();
                $('.loading-off').addClass('loading');
                $.ajax({
                    type: 'POST',
                    url: "{{ path('ajax_photo_create') }}",
                    data: new FormData($(this)[0]),
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function(response) {
                        if (response.code && response.code == 200){
                            $('#modalForm').modal('close');
                            $('.loading-off').removeClass('loading');
                            window.location.reload();
                        }
                    },
                    error: function (response, desc, err){
                        if (response.responseJSON && response.responseJSON.message) {
                            alert(response.responseJSON.message);
                        }
                        else{
                            alert(desc);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}